# Docker Compose项目名称
name: "t3-chat-build"

services:
  db:
    #“从 Docker Hub 拉一个官方的 Postgres 镜像来跑”
    image: postgres:latest
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    ports:
      - "5432:5432"
    restart: always
